<template>
  <div id="demo-home">
    <img src="@/assets/logo.png">
    <div>Welcome to Your Vue.js App</div>
  </div>
</template>

<script>
export default {
  name: 'home',
  data() {
    return {

    };
  },
};
</script>

<style>
#demo-home {
  padding: 56px;
}
</style>
