<template>
  <div id="demo-layout">
    <div class="demo-header">
      <div @click="$router.push({name: 'home'})">Home</div>
      <div @click="$router.push({name: 'user'})">User</div>
    </div>
    <div class="demo-body">
      <slot />
    </div>
    <div class="demo-footer">Footer</div>
  </div>
</template>

<script>
export default {
  name: 'layout',
  data() {
    return {
      msg: 'Welcome to Your Vue.js App',
    };
  },
};
</script>

<style lang="scss">
#demo-layout {
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;

  .demo-header {
    height: 56px;
    line-height: 56px;
    background: blue;
    color: white;
    display: flex;
    >div {
      margin: 0 16px;
    }
  }
  .demo-body {
    flex: 1;
  }
  .demo-footer {
    height: 56px;
    line-height: 56px;
    background: blue;
    color: white;
  }
}
</style>
