<template>
  <div id="demo-user">
    <button @click="addUser">添加一个用户</button>
    <div class="demo-message">{{message}}</div>
    <table border>
      <tr>
        <th>用户名</th>
        <th>邮箱</th>
        <th>密码</th>
        <th>动作</th>
      </tr>
      <tr v-for="user in users" :key="user.id">
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.password}}</td>
        <td><button @click="removeUser(user.id)">删除</button></td>
      </tr>
    </table>
  </div>
</template>

<script>
import ajax from '../lib/ajax';

export default {
  name: 'user',
  data() {
    return {
      message: null,
      users: [],
    };
  },
  methods: {
    async addUser() {
      const newUser = { name: `${Math.random()}`, email: `${Math.random()}@aaa.com`, password: '123456' };

      const result = await ajax({ url: 'http://127.0.0.1:3000/api/v1/user/create', body: newUser });
      if (!result.errno) {
        this.message = '创建成功！';
        this.users.push(result.data);
      } else {
        this.message = result.errmsg;
      }
      setTimeout(() => {
        this.message = '';
      }, 3000);
    },
    async removeUser(userId) {
      const result = await ajax({ url: 'http://127.0.0.1:3000/api/v1/user/remove', body: { id: userId } });
      if (!result.errno) {
        this.message = '删除成功！';
        this.users.splice(this.users.findIndex(u => u.id === userId), 1);
      } else {
        this.message = result.errmsg;
      }
      setTimeout(() => {
        this.message = '';
      }, 3000);
    },
  },
  async mounted() {
    const result = await ajax({ url: 'http://127.0.0.1:3000/api/v1/user/query' });
    this.users = result.data;
  },
};
</script>

<style>
#demo-user {

}
</style>
